.form-control-login {
    width: 40%;
}
.login-image {
    background-image: url('../images/login.png');
    background-position: center;
    background-size:cover;
}
@media only screen and (max-width:720px) {
    .login-image,.text-muted {
        display: none;
    }
    .form-control-login {
        width: 60%;
    } 
}
