.container-fluid {
    height: 100%;
}
.form-control {
    width: 40%;
}

.login-image {
    background-image: url('../images/login.png');
    background-position: center;
    background-size:cover;
}
button {
    width: 25%;
    height: 40px;
}

@media only screen and (max-width:720px) {
    .login-image {
        display: none;
    }
}
