.container-fluid,.row,.col {
    padding: 0px;
    margin: 0;
}
.sidebar-title {
    margin-bottom: 50px;
    cursor: default;
    font-weight: 1000;
    letter-spacing: 2px;
}

.nav-link {
    height: 60px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
}
.nav-link:hover {
    color: orange;
}
.nav {
    background-color: rgb(244, 244, 244);
}