.card {
    height: 720px;
    width: 920px;
    margin: 24px;
    overflow: hidden;
}
.img-post {
    object-fit: cover;
    height: 70%;
    width: 100%;
}
.icon {
    cursor: pointer;
}
.icon:hover {
    color: rgb(166, 192, 231);
}

@media only screen and (max-width:720px) {
    .img-post {
        object-fit: cover;
        width: 100%;
        height: 68%;
    }
    .card {
        width: 320px;
        height: 480px;
    }
}